# Created by .ignore support plugin (hsz.mobi)
### OpenCart template
.htaccess
/config.php
admin/config.php

!index.html

download/
image/data/
image/cache/
system/cache/
system/logs/

system/stor

.gitignore
.idea/
system/cache_mfp/
vqmod/logs/

media/bower_components
media/node_modules
media/TEMPLATE
media/bower.json
media/debug.log
media/gulpfile.js
media/package.json

