@-moz-keyframes swing {
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes swing {
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-o-keyframes swing {
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes swing {
  15% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  65% {
    transform: rotate(10deg);
  }
  80% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-moz-keyframes tawy {
  15% {
    transform: translate(5px);
  }
  30% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes tawy {
  15% {
    transform: translate(5px);
  }
  30% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes tawy {
  15% {
    transform: translate(5px);
  }
  30% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes tawy {
  15% {
    transform: translate(5px);
  }
  30% {
    transform: translateX(-7px);
  }
  50% {
    transform: translateX(5px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
