@keyframes swing
{
  15%
  {
    transform: rotate(0deg);
  }
  30%
  {
    transform: rotate(10deg);
  }
  50%
  {
    transform: rotate(-10deg);
  }
  65%
  {
    transform: rotate(10deg);
  }
  80%
  {
    transform: rotate(-10deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}

@keyframes tawy
{
  15%
  {
    transform: translate(5px);
  }
  30%
  {
    transform: translateX(-7px);
  }
  50%
  {
    transform: translateX(5px);
  }
  65%
  {
    transform: translateX(-3px);
  }
  80%
  {
    transform: translateX(2px);
  }
  100%
  {
    transform: translateX(0);
  }
}

@media (max-width:1200px)
  body, html
    overflow-x hidden
  #bot_cont .bot_cont img
    max-width 75%
    display: block
    margin 20px auto 0
@media (max-width:992px)
  #mid_contacts_page .cont .contacts
    width: 75%;
    margin: 0 auto;
  #mid_news_page .art_cont > div
    width 100%
  .top_cont
    margin: 0
  #top .non_main header
    float none
    border 1px solid transparent
@media (max-width:768px)
  #mid_news_page .art_cont > div
    width 50%
  #mid_cont_one .left .cat_cont .cat_page_cont
    height auto
    padding-bottom 15px
  #top .art_heading, #top .article h3, #top .article p
    padding 15px
  #top .non_main header
    margin-top: 0
  #burder
    display block
  #top header .navigation
    display: none
  #top #serach_form
    top 0
  #top #serach_form
    right 5px
  .top_cont
    margin: 0
  #bot_cont .bot_cont img, #bot_cont .top_cont .right img
    max-width 90%
  #mid_cont_one .left .cat_cont h3:before, #mid_cont_one .left .cat_cont .cat_num_3:before
    background-size: 20%
  #mid_cont_one .left .cat_cont .cat_num_9:before
    background-size 12%
  #mid_cont_one .left .cat_cont .cat_num_1:before
    background-size 17%
  #mid_cont_one .left .cat_cont .cat_num_3:before
    background-size 11%
  #top #slider_top .slick_cont > div
    margin 200px auto 0
    width: 90%
    text-align right
    padding: 0
  #top header
    position: static;
    width: 100%;
@media (max-width:480px)
  #mid_contacts_page .cont .contacts
    width 100%
    padding 0 0 0 15px
  #mid_bout_page .partners > div
    width 100%
  #mid_news_page .art_cont > div
    width 100%
  #top .akc
    width: 100%
    text-align left
  #bot_cont .bot_cont h2 span
    display: block

@media (max-width:320px)
  .goods_cont
    width 100%
