//@media (max-width:1200px)
//@media (max-width:992px)
//@media (max-width:768px)
//@media (max-width:480px)
//@media (max-width:320px)

@keyframes swing
{
  15%
  {
    transform: rotate(0deg);
  }
  30%
  {
    transform: rotate(10deg);
  }
  50%
  {
    transform: rotate(-10deg);
  }
  65%
  {
    transform: rotate(10deg);
  }
  80%
  {
    transform: rotate(-10deg);
  }
  100%
  {
    transform: rotate(0deg);
  }
}

@keyframes tawy
{
  15%
  {
    transform: translate(5px);
  }
  30%
  {
    transform: translateX(-7px);
  }
  50%
  {
    transform: translateX(5px);
  }
  65%
  {
    transform: translateX(-3px);
  }
  80%
  {
    transform: translateX(2px);
  }
  100%
  {
    transform: translateX(0);
  }
}